In [344]:
import pandas as pd

In [345]:
# Nacitanie datasetu s pouzitim Pandas
df = pd.read_csv("zadanie2_dataset.csv")

In [346]:
df.describe()

,ID,Price,Prod. year,Engine volume,Cylinders,Airbags
count,1.923700e+04,1.923700e+04,19237.000000,19237.000000,19237.000000,19237.000000
mean,4.557654e+07,1.855593e+04,2010.912824,2.307990,4.582991,6.582627
std,9.365914e+05,1.905813e+05,5.668673,0.877805,1.199933,4.320168
min,2.074688e+07,1.000000e+00,1939.000000,0.000000,1.000000,0.000000
25%,4.569837e+07,5.331000e+03,2009.000000,1.800000,4.000000,4.000000
50%,4.577231e+07,1.317200e+04,2012.000000,2.000000,4.000000,6.000000
75%,4.580204e+07,2.207500e+04,2015.000000,2.500000,4.000000,12.000000
max,4.581665e+07,2.630750e+07,2020.000000,20.000000,16.000000,16.000000

In [347]:
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Color,Airbags,Turbo engine,Left wheel
0,45654403,13328.0,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6,Automatic,4x4,4-5,Silver,12,False,True
1,44731507,16621.0,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.0,192000 km,6,Tiptronic,4x4,4-5,Black,8,False,True
2,45774419,8467.0,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4,Variator,Front,4-5,Black,2,False,False
3,45769185,3607.0,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4,Automatic,4x4,4-5,White,0,False,True
4,45809263,11726.0,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4,Automatic,Front,4-5,Silver,4,False,True

In [348]:
df = df.drop(columns=['ID'])

In [349]:
df.columns

Index(['Price', 'Levy', 'Manufacturer', 'Model', 'Prod. year', 'Category',
       'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Color',
       'Airbags', 'Turbo engine', 'Left wheel'],
      dtype='object')

In [350]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Levy'] = pd.to_numeric(df['Levy'], errors='coerce')
df['Engine volume'] = pd.to_numeric(df['Engine volume'], errors='coerce')
df['Mileage'] = pd.to_numeric(df['Mileage'].str.replace(' km', '').str.replace(',', ''), errors='coerce')

In [351]:
df.head()

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Color,Airbags,Turbo engine,Left wheel
0,13328.0,1399.0,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005,6,Automatic,4x4,4-5,Silver,12,False,True
1,16621.0,1018.0,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.0,192000,6,Tiptronic,4x4,4-5,Black,8,False,True
2,8467.0,NaN,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000,4,Variator,Front,4-5,Black,2,False,False
3,3607.0,862.0,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966,4,Automatic,4x4,4-5,White,0,False,True
4,11726.0,446.0,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901,4,Automatic,Front,4-5,Silver,4,False,True

In [352]:
print(f'Pocet null hodnot v datasete je: {df.isnull().sum().sum()}')

df = df.dropna()

print(f'Pocet null hodnot po odstraneni v datasete je: {df.isnull().sum().sum()}')

Pocet null hodnot v datasete je: 5819
Pocet null hodnot po odstraneni v datasete je: 0

In [353]:
print(f'Pocet duplikatov v datasete je: {df.duplicated().sum()}')

df = df.drop_duplicates()

print(f'Pocet duplikatov po odstraneni v datasete je: {df.duplicated().sum()}')

Pocet duplikatov v datasete je: 3377
Pocet duplikatov po odstraneni v datasete je: 0

In [354]:
import numpy as np
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Label Encoding pre stlpec 'Category'
df['Category'] = le.fit_transform(df['Category'])

# Target Encodingu pre stĺpec 'Manufacturer'
means = df.groupby('Manufacturer')['Price'].mean()
df['Manufacturer'] = df['Manufacturer'].map(means)

# One-Hot Encoding pre stĺpec 'Model'
top_categories = df['Model'].value_counts().index[:10]  # Vyberieme top 10 hodnôt
df['Model'] = np.where(df['Model'].isin(top_categories), df['Model'], 'Other')
df = pd.get_dummies(df, columns=['Model'], prefix='Model', drop_first=True)

# One Hot pre stlpec 'Gear box type'
df = pd.get_dummies(df, columns=['Gear box type'], prefix='GearBox', drop_first=True)

# One Hot pre stlpec 'Drive wheels'
df = pd.get_dummies(df, columns=['Drive wheels'], prefix='DriveWheels', drop_first=True)

# One Hot pre stlpec 'Doors'
df = pd.get_dummies(df, columns=['Doors'], prefix='Doors', drop_first=True)

# one hot stlpec color
df = pd.get_dummies(df, columns=['Color'], prefix='Color', drop_first=True)


# Zakódovanie stĺpca "Fuel type"
df = pd.get_dummies(df, columns=['Fuel type'], prefix='FuelType', drop_first=True)

# Zakódovanie stĺpca "Leather interior"
df['Leather interior'] = df['Leather interior'].map({'Yes': 1, 'No': 0})

# Zakódovanie stĺpca "Turbo engine"
df['Turbo engine'] = df['Turbo engine'].map({True: 1, False: 0})

# Zakódovanie stĺpca "Left wheel"
df['Left wheel'] = df['Left wheel'].map({True: 1, False: 0})

# pretypovanie novych stlpcov
columns = [col for col in df.columns if col.startswith('Color_') or col.startswith('Model_') or col.startswith('GearBox_') or col.startswith('DriveWheels_') or col.startswith('Doors_') or col.startswith('FuelType_')]
df[columns] = df[columns].astype(int)


df.head()

,Price,Levy,Manufacturer,Prod. year,Category,Leather interior,Engine volume,Mileage,Cylinders,Airbags,...,Color_Red,Color_Silver,Color_Sky blue,Color_White,Color_Yellow,FuelType_Diesel,FuelType_Hybrid,FuelType_LPG,FuelType_Petrol,FuelType_Plug-in Hybrid
0,13328.0,1399.0,21994.758209,2010,4,1,3.5,186005,6,12,...,0,1,0,0,0,0,1,0,0,0
1,16621.0,1018.0,15414.667398,2011,4,0,3.0,192000,6,8,...,0,0,0,0,0,0,0,0,1,0
3,3607.0,862.0,18162.088586,2011,4,1,2.5,168966,4,0,...,0,0,0,1,0,0,1,0,0,0
4,11726.0,446.0,20476.212679,2014,3,1,1.3,91901,4,4,...,0,1,0,0,0,0,0,0,1,0
5,39493.0,891.0,23678.930973,2016,4,1,2.0,160931,4,4,...,0,0,0,1,0,1,0,0,0,0

In [355]:
# Odstránenie outlierov
for col in df.columns:
    if df[col].dtype != 'object':
        df = df[(df[col] >= df[col].quantile(0.01)) & (df[col] <= df[col].quantile(0.99))]

In [356]:
df.dtypes

Price                      float64
Levy                       float64
Manufacturer               float64
Prod. year                   int64
Category                     int32
Leather interior             int64
Engine volume              float64
Mileage                      int64
Cylinders                    int64
Airbags                      int64
Turbo engine                 int64
Left wheel                   int64
Model_Camry                  int32
Model_Cruze                  int32
Model_Elantra                int32
Model_FIT                    int32
Model_H1                     int32
Model_Other                  int32
Model_Prius                  int32
Model_Santa FE               int32
Model_Sonata                 int32
Model_Tucson                 int32
GearBox_Manual               int32
GearBox_Tiptronic            int32
GearBox_Variator             int32
DriveWheels_Front            int32
DriveWheels_Rear             int32
Doors_4-5                    int32
Doors_>5                     int32
Color_Black                  int32
Color_Blue                   int32
Color_Brown                  int32
Color_Carnelian red          int32
Color_Golden                 int32
Color_Green                  int32
Color_Grey                   int32
Color_Orange                 int32
Color_Pink                   int32
Color_Purple                 int32
Color_Red                    int32
Color_Silver                 int32
Color_Sky blue               int32
Color_White                  int32
Color_Yellow                 int32
FuelType_Diesel              int32
FuelType_Hybrid              int32
FuelType_LPG                 int32
FuelType_Petrol              int32
FuelType_Plug-in Hybrid      int32
dtype: object

In [358]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Rozdelenie dát na trénovaciu a testovaciu množinu
train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)

# Vytvorenie vstupných a výstupných množín
X_train = train_data.drop(columns=['Price'])  # Vstupné množiny (všetky stĺpce okrem 'Price')
y_train = train_data['Price']  # Výstupná množina (stĺpec 'Price')

X_test = test_data.drop(columns=['Price'])
y_test = test_data['Price']

# Normalizácia
scaler = StandardScaler()
X_train_normalized = scaler.fit_transform(X_train)
X_test_normalized = scaler.transform(X_test)